.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  ion-searchbar{
    width: 60%;
  }
}
.line {
  text-decoration-line: line-through;
}
.todo-list{
  margin: 20px;
  &-item{
    display: flex;
    > * {
      margin: 4px;
    }
  }
}